<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultorio</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="logo">+ consulta medica</div>
        <a href="/login">
            <button class="login-button">Iniciar sesion</button>
        </a>
    </header>
    <main>
        <h1>Bienvenido a tu consulta medica</h1>
        <p>Selecciona una especialidad para reservar tu turno</p>
        <section class="especialidades">
            <div class="card">
                <span class="icon">❤️‍🩹</span>
                <h2>cardiologia</h2>
                <button>mas informacion</button>
            </div>
            <div class="card">
                <span class="icon">💅</span>
                <h2>dermatologia</h2>
                <button>mas informacion</button>
            </div>
            <div class="card">
                <span class="icon">🩺</span>
                <h2>pediatria</h2>
                <button>mas informacion</button>
            </div>
            <div class="card">
                <span class="icon">🧠</span>
                <h2>neurologia</h2>
                <button>mas informacion</button>
            </div>
        </section>
    </main>
    <footer>
        <p>2025 Consulta Médica, todos los derechos reservados</p>
        <p>Contacto: contacto@consultamedica.com</p>
    </footer>
</body>