h1{
    color:red;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    font-style: oblique;
    text-align: center;
    text-decoration: overline ;
    line-height: 1;
    letter-spacing: 10px;
    text-transform: uppercase; 
}
p{
    font-family:Monserrat;
    font-weight:00;

}